<ion-item *ngIf="post" [routerLink]="'/post/' + post.id" [detail]="false">
  <div slot="start"></div>
  <ion-label class="ion-text-wrap">
    <h2
      style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; line-height: 16px; max-height: 32px; -webkit-box-orient: vertical">
      {{ post.title}}
      <span class="date">

        <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </h2>

    <p
      style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; line-height: 16px; max-height: 32px; -webkit-box-orient: vertical">
      {{ post.body }}
    </p>
  </ion-label>
</ion-item>